body {
    background-color: #ffffff;
    color: #2D2D2D;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 16px;
    margin: auto;
}

/* Dropdown Menu */

.site-navigation {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation ul {
  background: #FFFFFF;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.site-navigation li {
    color: #2D2D2D;
  background: #FFFFFF;
    display: block;
    text-align: left;
    float: left;
    margin: 0 2px 0 0;
    padding: 12px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.site-navigation li a {
  color: #2D2D2D;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
    @include transition(background, 0.2s);
    background: #FFFFFF;
    cursor: pointer;
}

.site-navigation ul li ul {
    background: #FFFFFF;
    visibility: hidden;
    float: left;
  min-width: 150px;
    position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top:12px;
    left: 0;
    z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
    clear: both;
    padding: 5px 0 5px 18px;
  width: 100%;
}

.site-navigation ul li ul li:hover {
    background: #FFFFFF;
}

/* End of Dropdown Menu */

.site-body {
  margin: auto;
  background-color: #f2f2f2;
  width: 1000px;
  margin-bottom:25px;
}

.header{
  margin-bottom:0;
  padding: 0;
}

.blog-index {
  margin: auto;
  margin-top:-150px;
  padding-top:100px;
  width: 1000px;
  background-color: #f2f2f2;
}

.blog-title {
  margin: auto;
  margin-top:-150px;
  padding-top:100px;
  width: 1000px;
  background-color: #f2f2f2;
}

.blog-post {
  margin: auto;
  margin-top:-90px;
  margin-right: 100px;
  margin-left: 100px;
  padding-top:50px;
  width: 800px;
  background-color: #f2f2f2;
  text-align: left;
}
.welcome {
  margin: auto;
  margin-top:-90px;
  padding-top:50px;
  width: 1000px;
  background-color: #f2f2f2;
}

.about-me {
  margin:auto;
  margin-top:50px;
  width: 825px;
  background-color: #d9d9d9;
  padding-bottom: 20px;
  padding-top:10px;
}

.blog {
  margin: auto;
  width: 1000px;
  background-color: #f2f2f2;
  word-spacing: 25px;
}

.code {
  font-family: courier; serif;
}

.code-indent-1 {
  font-family: courier; serif;
  text-indent: 20px;
}

.code-indent-2 {
  font-family: courier; serif;
  text-indent: 40px;
}

.code-indent-3 {
  font-family: courier; serif;
  text-indent: 60px;
}

.code-indent-4 {
  font-family: courier; serif;
  text-indent: 80px;
}

.emphasis {
  font-weight: bold;
}



/* Link Appearance */
a:link {
    color: #2D2D2D;
    text-decoration: none;

}

a:visited {
    color: #000000;
}

a:hover {
    color: #999999;
}

a:active {
    color: #4d4d4d;
}

/* End Link Appearance */

/* Footer Items */

p.copyright {
  font-size: 10px;
  width: 1000px;
  background-color: #f2f2f2;
  margin: auto;
  padding-bottom:25px;
}

.footer-nav {
  font-size: 14px;
  word-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/* End of Footer Items */

